/*----------default layout----------*/
body {
    background-color: lavender;
    font-family: Century Gothic, sans-serif;
    color: darkslateblue;
}



/*----------login/register layout----------*/
.container {
    border: 1px solid;
    border-color: palevioletred;
    background: thistle;
    border-radius: 4px;
    padding: 10px;
    width: 350px;
    margin: 50px auto;
}

.register a {
    color: mediumslateblue;
    float: right;
    text-decoration: none;
    font-weight: 500;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    padding-top: 40px;
    text-align: center;
}

.row {
    margin: 15px 0px;
    text-align: center;
}

.inline_block {
    display: inline-block;
}

.form_label {
    text-align: left;
}

input.input_text {
    width: 250px;
    height: 25px;
    border: 1px solid palevioletred;
    border-radius: 4px;
}

input.btn {
    color: white;
    width: 250px;
    height: 25px;
    border: none;
    border-radius: 4px;
    background-color: palevioletred;
    font-family: Century Gothic, sans-serif;
}



/*----------homepage design----------*/
h3 {
    text-align: center;
}

.home_label {
    text-align: center;
}


/*----------dashboard design----------*/
/*https://stackoverflow.com/a/34854325*/
input.candidate:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: lavenderblush;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}

input.candidate:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: palevioletred;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid white;
}